* {
    box-sizing: border-box;
}
a {
    text-decoration-line: none;
}
header {
    width: 100%;
    min-width: 1600px;
    min-height: 60px;
    background-color: #222831;
    display: flex;
    justify-content: center;
}
#nav_box {
    width: 1168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#nav_button_box {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 0;
}
.nav_button > img {
    width: 32px;
    height: 40px;
    padding: 4px 0;
    background-size: 0 2px;

}
.nav_button > img:hover {
    background-size: 100% 2px;
    background-image: linear-gradient(#00adb5,#00adb5);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    transition: background-size 0.5s;
}
#menu_box {
    position: absolute;
    right: 0;
}
#menu_box > div > a > p,
#menu_box > p {
    width: 180px;
    height: 60px;
    color: #00ADB5;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: 0 2px;
}
#menu_box > div > a > p:hover,
#menu_box > p:hover {
    background-size: 100% 2px;
    background-image: linear-gradient(#00adb5,#00adb5);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    transition: background-size 0.5s;
}
#menu_box > div > a > p {
    background-color: #393e46;
}
.none {
    display: none;
}
.menu_open {
    animation-name: menu_open;
    animation-duration: 1s;
    overflow: hidden;
    height: 180px;
}
@keyframes menu_open {
    from {
        height: 0;
    }
    to {
        height: 180px;
    }
}
.menu_close {
    animation-name: menu_close;
    animation-duration: 1s;
    overflow: hidden;
    height: 0;
}
@keyframes menu_close {
    from {
        height: 240px;
    }
    to {
        height: 0;
    }
}
main {
    width: 100%;
    min-width: 1600px;
    min-height: calc(100vh - 676px);
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 160px 0 0;
}
h2 {
    width: 1168px;
    text-align: center;
    font-weight: bold;
    color: #00ADB5;
    padding: 8px 0;
    border-width: 0 0 1px 0;
    border-color: #b4b4b4;
    border-style: solid;
}
h3 {
    width: 1168px;
    padding: 8px 0 0 8px;
    color: #808080;
    font-size: 14px;
}
#post_content {
    width: 1168px;
    height: 2000px;
    padding: 8px;
    margin: 48px 0 0;
}
#main_margin {
    width: 100%;
    min-width: 1600px;
    height: 128px;
    background-color: #EEEEEE;
}
#main_footer {
    width: 100%;
    min-width: 1600px;
    height: 496px;
    background-color: #393e46;
    display: flex;
    justify-content: center;
}
#main_footer_box {
    width: 1168px;
    height: 496px;
    display: grid;
    align-content: center;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 320px;
    gap: 16px;
}
.menu {
    width: 280px;
    height: 320px;
    background-image: linear-gradient(to bottom, #222831 30%, #393e46);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sub_menu {
    width: 280px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    width: 100%;
    min-width: 1600px;
    height: 120px;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_info {
    width: 1168px;
    font-size: 14px;
    line-height: 24px;
    color: #00ADB5;
}
#footer_info > p {
    margin: 0 0 0 8px;
}
.utterances{
    max-width: 100% !important;
}
